<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WAREHOUSE_PORT" value="32000" />
    <add key="ROW_COUNT" value="6" />
    <add key="BAY_COUNT" value="25" />
    <add key="LEVEL_COUNT" value="20" />

    <add key="USE_MONGO" value="true"/>
    <add key="MONGO_DB_IP" value="localhost" />
    <add key="MONGO_DB_PORT" value="27017" />

    <add key="MSSQL_IP" value="localhost"/>
    <add key="MSSQL_NAME" value="MSSQL"/>
    <add key="MSSQL_DB" value="SASA_ASRS"/>
    <add key="MSSQL_USER" value="sa"/>
    <add key="MSSQL_PWD" value="sasa"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>